
  
  <div class="container-fluid pt-5 "></div>
  <div class="container-fluid pt-5 "></div>
  <div class="container-fluid pt-5 "></div>
  <div class="container-fluid pt-5 "></div>
  <div class="container-fluid pt-5 ">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <h1 class="text-center text-white fw-bold fwmedium  animation">BUY ENGINEERING PROJECTS</h1><br>
          </div>
          <div class="row "><br>
            <div id="divi"></div>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="conatiner">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h1 class=" text-center fwlarge display-2 fw-bold text-white animation2">
          PROJECTS BY JAPJEET
        </h1>
        <h1 class="text-center fwlarge animation display-2 fw-bold text-white ">
          +917009918141
        </h1>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 text-center pt-5">
        <button class="btn animation3 text-bg-danger border border-secondary-subtle px-4 py-2 ">BUY NOW </button>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
  
  <br>
  <br>
  <div class="container-fluid pt-2 color">
  
    <div class="row">
      <div class="col-md-12">
        <img class="img-fluid" src="assets/Screenshot (13).png" alt="">
      </div>
    </div>
  </div>
  
  
  <div class="container-fluid  bg-warning ">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-danger text-center   text-xl-center fw-bold py-5 text-decoration-underline">TOP PROJECTS</h1>
      </div>
    </div>
  </div>
  
  
  
  <!-- 
  new############################################################################################### -->
  
  
  <div id="carouselExampleControls" class="carousel carousel-dark slide bg-warning pb-5 " data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card-wrapper container-sm d-flex  justify-content-around">
          <a href="https://japjeet01.github.io/japjeetsingh.tech/automation_buy.html" target="_blank"
            rel="noopener noreferrer">
            <div class="card  " style="width: 18rem;">
              <img src="assets/alexa.jpg" class="card-img-top" alt="...">
              <div class="card-body bg-black">
                <h5 class="card-title fw-bold fwsmall text-white">VOICE CONTROLLED HOME AUOMATION</h5>
                <p class="text-white fwextrasmall">In this project i automated my home (room) with internet which works with my voice
                  commands and also works with google assistant and alexa</p>
              </div>
            </div>
          </a>
          <a href="https://japjeet01.github.io/japjeetsingh.tech/automation_buy.html" target="_blank"
            rel="noopener noreferrer">
            <div class="card  " style="width: 18rem;">
              <img src="assets/power bank.jpg " class="card-img-top" alt="...">
              <div class="card-body bg-black">
                <h5 class="card-title fw-bold text-white fwsmall">DIY POWER BANK</h5>
                <p class="text-white fwextrasmall pt-3">In this project i made a DIY power bank using lithium ion cells. recycled from old
                  laptop battery</p>
              </div>
            </div>
          </a>
          <a href="https://japjeet01.github.io/japjeetsingh.tech/automation_buy.html" target="_blank"
            rel="noopener noreferrer">
            <div class="card  " style="width: 18rem;">
              <img src="assets/dispenser.jpg" class="card-img-top" alt="...">
              <div class="card-body bg-black">
                <h5 class="card-title fw-bold text-white fwsmall">DIY WATER DISPENSER</h5>
                <p class="text-white fwextrasmall">IN THIS PROJECT I USED A OLD PLASTIC BOTTLE AND CONVERTED IT INTO A WATER
                  DISPENSER .
                </p>
              </div>
            </div>
          </a>
  
        </div>
      </div>
      <div class="carousel-item">
        <div class="card-wrapper container-sm d-flex   justify-content-around">
          <a href="https://japjeet01.github.io/japjeetsingh.tech/automation_buy.htm">
            <div class="card  " style="width: 18rem;">
              <img src="assets/jap (1).jpg" class="card-img-top" alt="...">
              <div class="card-body bg-black">
                <h5 class="card-title fw-bold fwsmall">DIY RC-CAR</h5>
                <p class="text-white fwextrasmall">IN THIS PROJECT I MADE A RC CAR THAT WORK WITH INTERNET AND CAN BE CONTROLLED
                  ANYWHERE FROM WORLD.</p>
              </div>
            </div>
          </a>
  
          <a href="https://japjeet01.github.io/japjeetsingh.tech/automation_buy.html" target="_blank"
            rel="noopener noreferrer">
            <div class="card  " style="width: 18rem;">
              <img src="assets/motion sensor.jpg" class="card-img-top" alt="...">
              <div class="card-body bg-black">
                <h5 class="card-title fw-bold text-white fwsmall">MOTION SENSOR LIGHT WITH PIR SENSOR
                </h5>
                <p class="text-white fwextrasmall">IN THIS PROJECT I CONNECT THE LIGHTS WITH MOTION SENSOR WHICH TURNS ON WITH HUMAN
                  MOTION AND TURNS OF ITSELF AFTER THERE IS NO MOTION.</p>
              </div>
            </div>
          </a>
          <a href="https://japjeet01.github.io/japjeetsingh.tech/automation_buy.html" target="_blank"
            rel="noopener noreferrer">
            <div class="card  " style="width: 18rem;">
              <img src="assets/SMART DUSTBIN.jpg" class="card-img-top" alt="...">
              <div class="card-body bg-black">
                <h5 class="card-title fw-bold text-white fwsmall">AUTOMATIC SMART DUSTIN USING ARDUINO</h5>
                <p class="text-white fwextrasmall">IN THIS PROJECT I MADE A DIY AUTOMATIC SMART DUSTBIN WHICH OPENS AUTOMATICALLY
                  WHEN WE GOES IN FRONT OF IT. IT IS BENEFICIAL TO AVOID PHYSICAL TOUCH IN THIS CURRENT SCENARIO OF
                  COVID.</p>
              </div>
            </div>
          </a>
        </div>
      </div>
  
      <button class="carousel-control-prev padl" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon padl " aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next padr" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  
  </div>
  
  <div class="container-fluid img py-5">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-5"></div>
          <div class="col-md-5 offset-1 pb-5">
            <h1 class="display-5 text-white fw-bold pt-5 mt-5 fwmedium">
              BUY ANY PROJECT ANYWHERE IN WORLD</h1><br>
            <div id="divi"></div>
            <br>
            <h1 class="display-6 text-white fwmedium fw-bold">TO BUY ANY PROJECT JUST EMAIL ME OR CONTACT ME ON +917009918141
            </h1>
            <br>
            <button class="btn bg-danger  border border-secondary text-white py-2  fw-bold px-4 animation2">LEARN
              MORE</button>
          </div>
  
          <div class="col-md-2"></div>
  
  
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6 text-center">
            <h1 class="text-white fw-bold fwmedium pt-5 mt-5">SUBSCRIBE TO OUR <br> YOUTUBE CHANNEL</h1><br><br>
            <div id="divi"></div><br>
            <br>
            <button class="btn bg-danger  border border-secondary text-white py-2  fw-bold px-4 ">SUBSCRIBE</button>
          </div>
          <div class="col-md-6 text-center py-5 mt-5 px-5 ">
            <img class="img-fluid" src="assets/Picsart_22-05-18_19-43-25-616.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container-fluid black">
    <div class="row">
      <div class="col-md-12">
        <h6 class="text-white fwsmall fw-bolder text-center pt-5 pb-3 ">JAPJEET PROJECT MART| PHONE: +917009918141 | EMAIL:
          japjeet612003@gmail.com</h6>
        <h6 class="text-white fw-bolder text-center pb-5 fwsmall">Copyright © 2023 JAPJEET PROJECT MART</h6>
      </div>
    </div>
  
  </div>