

<div class="container-fluid">
<div class="row">
    <div class="col-md-12">
        <div class="row py-5 my-5">

            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1 class="text-white  animation2 fw-bold display-1 text-center py-5 my-5 stroke3 ">WHO WE ARE?</h1>

            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
</div>

<div class="container-fluid ">
<div class="row img2">
    <div class="col-md-12">
        <div class="row pt-5 mt-5 mb-3 pb-3">
            <div class="col-md-1"></div>
            <div class="col-md-5 text-center ">
                <h1 class="display-3 fw-bold text-danger  stroke">OUR MISSION</h1>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <h2 class="fw-bold text-white pb-5 stroke2">OUR MAIN MISSION IS TO GIVE ELECTRONICS KNOWLEDGE EVERYWHERE IN THE WORLD</h2>
                                <div id="divi"></div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <img class="img-fluid pb-5 mb-5" src="../../assets/Picsart_22-05-18_19-43-25-616.jpg" alt="">
            </div>
            <div class="col-md-2"></div>
        </div>

    </div>
</div>
</div>


<div class="container-fluid blue ">
<div class="row">
<div class="col-md-12">
  <div class="row py-5 my-5">
    <div class="col-md-4"><img  class="img-fluid"  src="../../assets/1.jpg" alt=""></div>
    <div class="col-md-4"><img  class="img-fluid"  src="../../assets/2.jpg" alt=""></div>
    <div class="col-md-4"><img  class="img-fluid"  src="../../assets/3.jpg" alt=""></div>
  </div>   
</div>
</div>
</div>


<div class="container-fluid blue py-5">
<div class="row">
<div class="col-md-12">
  <div class="row">
    <div class="col-md-6">
      <h3 class="text-dark fw-bold text-center">Extraordinary Experiences</h3>
      <div class="col-md-1 offset-3 ps-2 py-3">
        <div id="divi"></div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-8">
          <p class="">we have made many college projects for college students using arduino or other microcontrollers </p>
        </div>
      </div>
      
      
    </div>
    <div class="col-md-6">

      <h3 class="text-dark fw-bold">Upcoming Projects</h3>
      <div class="col-md-1 py-3">
        <div id="divi"></div>
      </div>
      <div class="row">
  
        <div class="col-md-8">
          <p class="">we have made many college projects for college students using arduino or other microcontrollers </p>
        </div>
      </div>



    </div>
  </div>
</div>
</div>
</div>



<div class="container-fluid black">
<div class="row">
<div class="col-md-12">
  <h6 class="text-white fw-bolder text-center pt-5 pb-3 ">JAPJEET PROJECT MART| PHONE: +917009918141 | EMAIL: japjeet612003@gmail.com</h6>
  <h6 class="text-white fw-bolder text-center pb-5">Copyright © 2023 JAPJEET PROJECT MART</h6>
</div>
</div>

</div>



